<div class="projects-container">
  <h2>{{ t('PROJECTS_SECTION.TITLE') }}</h2>
  <p class="section-desc">{{ t('PROJECTS_SECTION.DESCRIPTION') }}</p>

  <div class="projects-grid">

    <div class="project-card">
      <h3>{{ t('PROJECTS_SECTION.PROJECT_1.TITLE') }}</h3>
      <p>{{ t('PROJECTS_SECTION.PROJECT_1.DESCRIPTION') }}</p>
      <p class="tech">{{ t('PROJECTS_SECTION.PROJECT_1.TECHNOLOGIES_USED') }}</p>
      <p class="team">{{ t('PROJECTS_SECTION.PROJECT_1.Team_Size') }}</p>
      <p class="role">{{ t('PROJECTS_SECTION.PROJECT_1.ROLE') }}</p>
      <a [href]="t('PROJECTS_SECTION.PROJECT_1.LINK')" target="_blank" rel="noopener">{{ t('VIEW_PROJECT') }}</a>
    </div>

    <div class="project-card">
      <h3>{{ t('PROJECTS_SECTION.PROJECT_2.TITLE') }}</h3>
      <p>{{ t('PROJECTS_SECTION.PROJECT_2.DESCRIPTION') }}</p>
      <p class="tech">{{ t('PROJECTS_SECTION.PROJECT_2.TECHNOLOGIES_USED') }}</p>
      <p class="team">{{ t('PROJECTS_SECTION.PROJECT_2.Team_Size') }}</p>
      <p class="role">{{ t('PROJECTS_SECTION.PROJECT_2.ROLE') }}</p>
      <a [href]="t('PROJECTS_SECTION.PROJECT_2.LINK')" target="_blank" rel="noopener">{{ t('VIEW_PROJECT') }}</a>
    </div>

    <div class="project-card">
      <h3>{{ t('PROJECTS_SECTION.PROJECT_3.TITLE') }}</h3>
      <p>{{ t('PROJECTS_SECTION.PROJECT_3.DESCRIPTION') }}</p>
      <p class="tech">{{ t('PROJECTS_SECTION.PROJECT_3.TECHNOLOGIES_USED') }}</p>
      <p class="team">{{ t('PROJECTS_SECTION.PROJECT_3.Team_Size') }}</p>
      <p class="role">{{ t('PROJECTS_SECTION.PROJECT_3.ROLE') }}</p>
      <a [href]="t('PROJECTS_SECTION.PROJECT_3.LINK')" target="_blank" rel="noopener">{{ t('VIEW_PROJECT') }}</a>
    </div>

    <div class="project-card">
      <h3>{{ t('PROJECTS_SECTION.PROJECT_4.TITLE') }}</h3>
      <p>{{ t('PROJECTS_SECTION.PROJECT_4.DESCRIPTION') }}</p>
      <p class="tech">{{ t('PROJECTS_SECTION.PROJECT_4.TECHNOLOGIES_USED') }}</p>
      <p class="team">{{ t('PROJECTS_SECTION.PROJECT_4.Team_Size') }}</p>
      <p class="role">{{ t('PROJECTS_SECTION.PROJECT_4.ROLE') }}</p>
      <a [href]="t('PROJECTS_SECTION.PROJECT_4.LINK')" target="_blank" rel="noopener">{{ t('VIEW_PROJECT') }}</a>
    </div>

    <div class="project-card">
      <h3>{{ t('PROJECTS_SECTION.PROJECT_5.TITLE') }}</h3>
      <p>{{ t('PROJECTS_SECTION.PROJECT_5.DESCRIPTION') }}</p>
      <p class="tech">{{ t('PROJECTS_SECTION.PROJECT_5.TECHNOLOGIES_USED') }}</p>
      <p class="team">{{ t('PROJECTS_SECTION.PROJECT_5.Team_Size') }}</p>
      <p class="role">{{ t('PROJECTS_SECTION.PROJECT_5.ROLE') }}</p>
      <a [href]="t('PROJECTS_SECTION.PROJECT_5.LINK')" target="_blank" rel="noopener">{{ t('VIEW_PROJECT') }}</a>
    </div>

  </div>
</div>
