<div class="about-container">
  <h2>{{ 'ABOUT_SECTION.TITLE'| translate }}</h2>
  <p>{{ 'ABOUT_SECTION.DESCRIPTION' | translate }}</p>

  <div class="experience-box">
    <h3>{{ 'EXPERIENCE.TITLE' | translate }}</h3>
    <ul>
      <li>{{ 'EXPERIENCE.CURNT_JOB' | translate }}</li>
      <li>{{ 'EXPERIENCE.TRAINING_ASP_NET' | translate }}</li>
      <h3>{{ 'Education' | translate }}</h3>
      <li>{{ 'EXPERIENCE.YU_EDU' | translate }}</li>
      <li>{{ 'EXPERIENCE.HTUx_CERTIICATS' | translate }}</li>
      <li>{{ 'EXPERIENCE.HTUx_AMBASSADOR' | translate }}</li>
      <li>{{ 'EXPERIENCE.YU_REPRESENTATIVE' | translate }}</li>
      <li>{{ 'EXPERIENCE.IEC_VOLUNTEER' | translate }}</li>
      <li>{{ 'EXPERIENCE.HULT_PRIZE_AMBASSADOR' | translate }}</li>
      <li>{{ 'EXPERIENCE.VOLUNTEER_WORK' | translate }}</li>
      <li>{{ 'EXPERIENCE.BOOK_AUTHOR' | translate }}</li>
    </ul>
  </div>

  <div class="skills-box">
    <h3>{{ 'SKILLS_SECTION.TITLE' | translate }}</h3>
    <p>{{ 'SKILLS_SECTION.TECHNICAL' | translate }}</p>
    <p>{{ 'SKILLS_SECTION.PERSONAL' | translate }}</p>
  </div>

  <div class="certifications-box">
    <h3>{{ 'CERTIFICATIONS_SECTION.TITLE' | translate }}</h3>
    <ul>
      <li>
        <a [href]="'CERTIFICATIONS_SECTION.CERT_1_LINK' | translate" target="_blank" rel="noopener">
          {{ 'CERTIFICATIONS_SECTION.CERT_1' | translate }}
        </a>
      </li>
      <li>
        <a [href]="'CERTIFICATIONS_SECTION.CERT_2_LINK' | translate" target="_blank" rel="noopener">
          {{ 'CERTIFICATIONS_SECTION.CERT_2' | translate }}
        </a>
      </li>
      <li>
        <a [href]="'CERTIFICATIONS_SECTION.HTUX_WALLET_LINK' | translate" target="_blank" rel="noopener">
          {{ 'CERTIFICATIONS_SECTION.HTUX_WALLET_TEXT' | translate }}
        </a>
      </li>
      <li>{{ 'CERTIFICATIONS_SECTION.CERT_3' | translate }}</li>
    </ul>
  </div>
</div>
