<div class="about-container">
  <h2>{{ t('ABOUT_SECTION.TITLE') }}</h2>
  <p>{{ t('ABOUT_SECTION.DESCRIPTION') }}</p>

  <div class="experience-box">
    <h3>{{ t('EXPERIENCE.TITLE') }}</h3>
    <ul>
      <li>{{ t('EXPERIENCE.CURNT_JOB') }}</li>
      <li>{{ t('EXPERIENCE.TRAINING_ASP_NET') }}</li>
      <h3>{{ t('Education') }}</h3>
      <li>{{ t('EXPERIENCE.YU_EDU') }}</li>
      <li>{{ t('EXPERIENCE.HTUx_CERTIICATS') }}</li>
      <li>{{ t('EXPERIENCE.HTUx_AMBASSADOR') }}</li>
      <li>{{ t('EXPERIENCE.YU_REPRESENTATIVE') }}</li>
      <li>{{ t('EXPERIENCE.IEC_VOLUNTEER') }}</li>
      <li>{{ t('EXPERIENCE.HULT_PRIZE_AMBASSADOR') }}</li>
      <li>{{ t('EXPERIENCE.VOLUNTEER_WORK') }}</li>
      <li>{{ t('EXPERIENCE.BOOK_AUTHOR') }}</li>
    </ul>
  </div>

  <div class="skills-box">
    <h3>{{ t('SKILLS_SECTION.TITLE') }}</h3>
    <p>{{ t('SKILLS_SECTION.TECHNICAL') }}</p>
    <p>{{ t('SKILLS_SECTION.PERSONAL') }}</p>
  </div>

  <div class="certifications-box">
    <h3>{{ t('CERTIFICATIONS_SECTION.TITLE') }}</h3>
    <ul>
      <li>
        <a [href]="t('CERTIFICATIONS_SECTION.CERT_1_LINK')" target="_blank" rel="noopener">
          {{ t('CERTIFICATIONS_SECTION.CERT_1') }}
        </a>
      </li>
      <li>
        <a [href]="t('CERTIFICATIONS_SECTION.CERT_2_LINK')" target="_blank" rel="noopener">
          {{ t('CERTIFICATIONS_SECTION.CERT_2') }}
        </a>
      </li>
      <li>
        <a [href]="t('CERTIFICATIONS_SECTION.HTUX_WALLET_LINK')" target="_blank" rel="noopener">
          {{ t('CERTIFICATIONS_SECTION.HTUX_WALLET_TEXT') }}
        </a>
      </li>
      <li>{{ t('CERTIFICATIONS_SECTION.CERT_3') }}</li>
    </ul>
  </div>
</div>
