<div class="home-container">
  <img src="/cutme.png" [attr.alt]="'WELCOME' | translate" class="profile-pic" />
  <h1>{{ 'WELCOME'| translate }}</h1>
  <p class="subtitle">{{ 'DESCRIPTION' | translate }}</p>
  <p class="details">{{ 'DESCRIPTION_MORE_DETAILS' | translate }}</p>

  <a class="cv-button" href="/Rama_ALMomani.CV.pdf" download target="_blank" rel="noopener">
    <svg viewBox="0 0 24 24" class="icon"><path d="M5 20h14v-2H5v2zM12 2v12.6l4.3-4.3 1.4 1.4L12 18 6.3 12l1.4-1.4L12 14.6V2h0z" /></svg>
    {{ 'DOWNLOAD_CV' | translate }}
  </a>
</div>
