<nav class="navbar">
  <div class="logo">{{ 'RAMA_AL_MOMANI' | translate }}</div>

  <ul class="nav-links">
    <li (click)="scrollTo('home')">{{ 'HOME' | translate }}</li>
    <li (click)="scrollTo('about')">{{ 'ABOUT' | translate }}</li>
    <li (click)="scrollTo('projects')">{{ 'PROJECTS' | translate }}</li>
    <li (click)="scrollTo('contact')">{{ 'CONTACT' | translate }}</li>
  </ul>

  <button class="lang-btn" (click)="toggleLang()">
    {{ lang === 'en' ? 'العربية' : 'English' }}
  </button>

  <button class="theme-toggle" (click)="toggleTheme()" [class.dark]="isDark">
    <span class="toggle-circle">{{ isDark ? '🌙' : '☀️' }}</span>
  </button>

</nav>
